<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzagzYL1gDX1EbBmbJzcV8QkKfuRn22z4</string>
	<key>GCM_SENDER_ID</key>
	<string>365002496195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.image.test.BlendAR2</string>
	<key>PROJECT_ID</key>
	<string>blendar2-f7804</string>
	<key>STORAGE_BUCKET</key>
	<string>blendar2-f7804.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365002496195:ios:10ce37449797dcea292a76</string>
</dict>
</plist>